﻿
@{
    ViewBag.Title = "AddEmployee";
}

<h2>Add Employee</h2>

<div class="row">
    <div class="col-md-12">
        <label>
            First Name: <input type="text" id="first-name" class="form-control" />
        </label>
        <br />
        <label>
            Last Name: <input type="text" id="last-name" class="form-control" />
        </label>
        <br />
        <label>
            Birth Date: <input type="text" id="birth-date" class="form-control" />
        </label>
        <br />
        <button id="save-btn" class="btn btn-success">Save Employee</button>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#save-btn').click(function () {
                let obj = {
                    FirstName: $('#first-name').val(),
                    LastName: $('#last-name').val(),
                    BirthDate: $('#birth-date').val()
                };

                $.ajax({
                    url: '/Home/CreateEmployee',
                    type: 'POST',
                    data: obj,
                    success: function (r) {
                        alert('Employee Added Successfully');

                        window.location.href = '/';
                    },
                    error: function () {
                        alert('Failed to add new employee');
                    }
                });
            });
        });
    </script>
}