﻿
@{
    ViewBag.Title = "EditEmployee";
}

@model EmployeeApp.Models.Employee

<h2>Edit Employee</h2>

<div class="row">
    <div class="col-md-12">
        <input type="hidden" id="record-id" value="@Model.Id" />

        <label>
            First Name: <input type="text" id="first-name" class="form-control" value="@Model.FirstName" />
        </label>
        <br />
        <label>
            Last Name: <input type="text" id="last-name" class="form-control" value="@Model.LastName" />
        </label>
        <br />
        <label>
            Birth Date: <input type="text" id="birth-date" class="form-control" value="@Model.BirthDate" />
        </label>
        <br />
        <button id="save-btn" class="btn btn-primary">Save Employee</button>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#save-btn').click(function () {
                let id = $('#record-id').val();

                let obj = {
                    FirstName: $('#first-name').val(),
                    LastName: $('#last-name').val(),
                    BirthDate: $('#birth-date').val()
                };

                $.ajax({
                    url: '/Home/EditEmployee/' + id,
                    type: 'PUT',
                    data: obj,
                    success: function () {
                        alert('Employee edited successfully');

                        window.location.reload();
                    },
                    error: function () {
                        alert('Failed to edit employee');
                    }
                });
            });
        });
    </script>    
}