﻿@{
    ViewBag.Title = "Home Page";
}

@model List<EmployeeApp.Models.Employee>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Employees</h2>
        <table class="col-md-12">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Birth Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.FirstName</td>
                        <td>@employee.LastName</td>
                        <td>@employee.BirthDate.ToShortDateString()</td>
                        <td>
                            <button class="btn btn-danger btn-sm delete-btn" data-id="@employee.Id">Delete</button>
                        </td>
                        <td>
                            <button class="btn btn-warning btn-sm edit-btn" data-id="@employee.Id">Edit</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('.delete-btn').click(function () {
                let id = $(this).data('id');

                $.ajax({
                    url: '/Home/DeleteEmployee/' + id,
                    type: 'DELETE',
                    success: function () {
                        alert('Employee successfully deleted');

                        window.location.reload();
                    },
                    error: function () {
                        alert('Failed to delete employee');
                    }
                });
            });

            $('.edit-btn').click(function () {
                let id = $(this).data('id');
                window.location.href = '/Home/EditEmployee/' + id;
            });
        });
    </script>
}